
/* till 770 every thinks looks good*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 100%;
    overflow-x: hidden;
}
@media screen and (min-width:768px){

#flexdiv{
    display: flex;
    width: 100%;
}

#students {
    width: 30;
    text-align: center;
}

#addimg{
     display: flex; 
    width: 60%;
    justify-content:end;
}

 #btn{
    display: flex; 
     margin-left:1%;  
    justify-content: center;
    align-items: center;
 } 

.imagess{
    height: 4rem;
    width: 4rem;
    border-radius: 2rem ;
}
#texts{
    text-align: center;  
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important; 
}

}

@media  (min-width:365px) and (max-width:768px){

    .imagess{
        height: 4rem;
        width: 4rem;
        border-radius: 2rem ;
    }  

    #flexdiv{
        display: flex;
        width: 100%;
    }
    
    #students {
        width: 50%;
        text-align: center;
    }
    #addimg{
         display: flex; 
        width: 30%;
        justify-content:end;
    }
    
    #btn{
        display: flex;
        /* width: 9%; */
         padding: 0.1rem;
        margin-left:1%;
        font-size: larger;
     } 

     #deletebtn{
       width: 65px;
       text-align: center;
       margin-bottom: 0.5rem;
        }

   

    #texts{
        text-align: center;  
        /* font-weight: bolder; */
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important; 
    }
    

} 

@media screen and (max-width:364px){

    .imagess{
        height: 4rem;
        width: 4rem;
        border-radius: 2rem ;
    }  

    #deletebtn{
        width: 65px;
        text-align: center;
        margin-bottom: 0.5rem;
         }

    #flexdiv{
            display: flex;
            flex-direction:column;
            width: 100%;
        }
    
    #students{
        display: flex;
       justify-content: center;
       align-items: center;
    }
    #addimg{
        display: flex;
       justify-content: center;
       align-items: center;
    }
    #btn{
        display: flex;
        /* width: 9%; */
         padding: 0.1rem;
        margin-left:1%;
        /* font-size: larger; */
        justify-content: center;
        align-items: center;
     } 
    

}